<style>

/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 15px;
  text-align: center;
}
p {
  overflow: auto;
  margin-top: 0px;
  margin-left:5px;
  margin-right: 5px;
  width: 90%;
  height: 90%;
  padding: 5px;
}
h3 {
  border: 1px solid black;
  width: 100px;
  height: 20%;
  color: black;
  text-align: center;
  float: right;
  margin: -1px;
}
div {
	background-color: lightblue;
}

#a {
	background-color: lightgreen;
}
#b {
	background-color: yellow;
}
#c {
	background-color: gray;
}

@media (min-width: 992px) {
  .large{
    float: left;
    border: 1px solid black;
    width: 30%;
    margin: 1.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .medium1, .medium2{
    float: left;
    border: 1px solid black;
    margin: 1%;
  }
  .medium1 {
    width: 47%;
  }
  .medium2 {
    width: 96%;
  }
}

@media (max-width: 767px) {
  .small{
    float: left;
    border: 1px solid black;
    width: 95%;
    margin: 20px;
  }
}
</style>