<style>

/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 15px;
  text-align: center;
}
p {
  overflow: auto;
  margin-top: 0px;
  margin-left:5px;
  width: 90%;
  height: 90%;
  padding: 5px;
}
h3 {
  border: 1px solid black;
  background-color: red;
  width: 20%;
  height: 20%;
  color: black;
  text-align: center;
  float: right;
  margin: -1px;
}


/********** Large devices only **********/
@media (min-width: 992px) {
  .large{
    float: left;
    border: 1px solid black;
    width: 30%;
    margin: 1.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .medium1, .medium2{
    float: left;
    border: 1px solid black;
    margin: 1%;
  }
  .medium1 {
    width: 40%;
  }
  .medium2 {
    width: 82%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .small{
    float: left;
    border: 1px solid black;
    width: 95%;
    margin: 20px;
  }
}
</style>